{% extends 'base.html' %}

{% block title %}
    Barbearia - Horários
{% endblock %}

{% block content %}
<div class="row mb-3">
    <div class="col-md-6">
        <form method="get" action="{% url 'schedule_list' %}">
            <div class="input-group">
                <input type="text" class="form-control" name="customer_name" placeholder="Nome" value="{{ request.GET.customer_name}}">
                <input type="date" class="form-control" name="day_schedule" placeholder="Dia" value="{{ request.GET.day_schedule}}">
                <button type="submit" class="btn btn-primary">
                    <i class="bi bi-search"></i>
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <a href="{% url 'schedule_create' %}" class="btn btn-success float-end">
            <i class="bi bi-plus"></i> Novo Agendamento
        </a>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Cliente</th>
                <th>Dia</th>
                <th>Horário</th>
                <th>Serviços</th>
                <th>Preço</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for schedule in schedules %}
                <tr>
                    <td>{{ schedule.customer_name }}</td>
                    <td>{{ schedule.day_schedule|date:"d/m/Y" }}</td>
                    <td>{{ schedule.time_schedule }}</td>
                    <td>{{ schedule.formatted_service_names }}</td>
                    <td>{{ schedule.total_price }}</td>
                    <td>
                        <a href="{% url 'schedule_detail' schedule.id %}" class="btn btn-info btn-sm">
                            <i class="bi bi-eye"></i>
                        </a>
                        <a href="{% url 'schedule_update' schedule.id %}" class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <a href="{% url 'schedule_delete' schedule.id %}" class="btn btn-danger btn-sm btn-delete">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'components/_pagination.html' %}
{% endblock %}