{% extends 'base.html' %}

{% load static %}

{% block title %}
Barbearia - Inicio
{% endblock %}

{% block content %}
{% include 'components/_schedule_metrics.html' %}

<div class="row mt-4 justify-content-center">
  <div class="col-md-6 text-center">
    <h5 class="text-center mb-3">Valor de Serviços (Últimos 7 Dias)</h5>
    <canvas id="totalsChart"></canvas>
  </div>
  <div class="col-md-6 text-center">
    <h5 class="text-center mb-3">Quantidade de Atendimentos Diários (Últimos 7 Dias)</h5>
    <canvas id="serviceCountsChart"></canvas>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script type="application/json" id="totals-data">
  {{ context.totals|json_script:"totals-data" }}
</script>

<script type="application/json" id="service-counts-data">
  {{ context.counts|json_script:"service-counts-data" }}
</script>

<script src="{% static 'js/main.js' %}"></script>
{% endblock %}